@import url("https://fonts.googleapis.com/css2?family=Fira+Sans:wght@500&display=swap");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0;
  letter-spacing: 0.2rem;
}

body {
  font-family: "Fira Sans", sans-serif;
  line-height: 1.6;
  color: #111;
  background-image: url("../img/my-photo.png");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

a {
  text-decoration: none;
  color: #111;
}

p {
  font-size: 1.2rem;
  margin: 1rem;
}

li {
  list-style-type: none;
}

input {
  border: none;
  height: 2rem;
  width: 100%;
  padding: 0.3rem;
  letter-spacing: 0.1rem;
  outline: none;
}

input input:focus {
  outline: none;
}

textarea {
  width: 100%;
  resize: none;
  letter-spacing: 0.1rem;
  padding: 0.3rem;
  outline: none;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #111;
  color: whitesmoke;
  width: 100%;
  height: 5rem;
}

.header .subtitle {
  font-size: 1.2rem;
  vertical-align: middle;
  color: #b5b5b5;
  letter-spacing: 0.7rem;
}

.subtitle-dot-left {
  vertical-align: middle;
  height: 8px;
  width: 8px;
  background-color: whitesmoke;
  border-radius: 50%;
  display: inline-block;
}

.subtitle-dot-mid {
  vertical-align: middle;
  height: 8px;
  width: 8px;
  background-color: #cfcfcf;
  border-radius: 50%;
  display: inline-block;
}

.subtitle-dot-right {
  vertical-align: middle;
  height: 8px;
  width: 8px;
  background-color: #9c9c9c;
  border-radius: 50%;
  display: inline-block;
}

.container {
  overflow: auto;
}

.name-title {
  font-size: 1.8rem;
}

.about-myself {
  font-size: 1.8rem;
}

.inner-hr {
  border: 1px solid #777777;
}

.main-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #444444;
  border-bottom: 0;
  padding: 1.5rem 3rem;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
          transform: perspective(1px) translateZ(0);
  -webkit-box-shadow: 0 0 1px rgba(0, 0, 0, 0);
          box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
}

.main-button:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #5e5e5e;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transform-origin: 0 50%;
          transform-origin: 0 50%;
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
  -webkit-transition-timing-function: ease-out;
          transition-timing-function: ease-out;
}

.main-button:hover, .main-button:focus, .main-button:active {
  color: whitesmoke;
}

.main-button:hover:before, .main-button:focus:before, .main-button:active:before {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
}

.about-container,
.project-container,
.contact-container {
  display: none;
  margin: auto;
  width: 98.5%;
  padding: 1rem;
  background-color: rgba(240, 240, 240, 0.2);
}

.about-container {
  margin: 1rem;
  margin-bottom: 2rem;
}

.about-container .photo {
  margin-right: 1.5rem;
  border: 2px solid #515151;
  border-radius: 5px;
  float: left;
}

.project-container {
  margin: 1rem;
  margin-bottom: 2rem;
}

.contact-container {
  margin: 1rem;
  margin-bottom: 2rem;
}

.clearfix {
  content: "";
  clear: both;
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.row .card, .row .card-forms {
  padding: 1rem;
}

.row .card .card-title, .row .card-forms .card-title {
  font-size: 1.2rem;
  padding-bottom: 0.5rem;
}

.row .card .card-footer, .row .card-forms .card-footer {
  font-size: 1.1rem;
}

.active {
  letter-spacing: 1.2rem;
  -webkit-transition: 1s;
  transition: 1s;
  color: whitesmoke;
}

.inactive {
  letter-spacing: 0.2rem;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.card-forms {
  padding: 1rem;
}

.card-forms .form-group {
  max-width: 50rem;
}

.card-forms .form-group .message,
.card-forms .form-group .email {
  padding: 0.5rem;
}

.card-forms .form-group .submit-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: auto;
  border: 1px solid #111;
  border-top: none;
  border-bottom: 0;
  padding: 0.5rem;
  width: 5rem;
  background-color: transparent;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.card-forms .form-group .submit-button:hover {
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  background-color: rgba(240, 240, 240, 0.2);
  letter-spacing: 0.5rem;
  width: 8rem;
  border-radius: 5px;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  padding: 1rem;
}

.footer .footer-link-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-shadow: 1px 1px 1px #111;
}

.footer .footer-link-container .fab {
  padding: 0.5rem 1rem;
  -webkit-transition: -webkit-transform 0.5s ease-in-out;
  transition: -webkit-transform 0.5s ease-in-out;
  transition: transform 0.5s ease-in-out;
  transition: transform 0.5s ease-in-out, -webkit-transform 0.5s ease-in-out;
}

.footer .footer-link-container .fab:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.footer hr {
  width: 10%;
  margin: auto;
  border: 1px solid black;
}

.footer h5 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: bold;
  text-shadow: 1px 1px 1px #111;
}

@media only screen and (max-width: 700px) {
  * {
    text-shadow: 1px 1px black;
  }
  body {
    margin-bottom: 10rem;
  }
  .about-container,
  .project-container,
  .contact-container {
    background-color: rgba(0, 0, 0, 0.4);
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    color: white;
  }
  .header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    padding: 4rem 1rem 3rem 1rem;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .about-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .about-container .photo {
    float: none;
  }
  .contact-container {
    width: 90%;
  }
  .card-forms {
    width: 100%;
  }
}

@media only screen and (max-width: 375px) {
  * {
    text-shadow: 1px 1px black;
    font-size: 1rem;
  }
  body {
    margin-bottom: 10rem;
  }
  p {
    text-align: center;
  }
  ul {
    text-align: center;
  }
  img {
    width: 300px;
  }
  footer {
    background-color: rgba(0, 0, 0, 0.4);
  }
  .about-container,
  .project-container,
  .contact-container {
    background-color: rgba(0, 0, 0, 0.4);
    width: 90%;
    color: white;
  }
  .header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    padding: 4rem 1rem 3rem 1rem;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .about-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .about-container .photo {
    float: none;
    width: 300px;
  }
  .contact-container {
    width: 90%;
  }
  .card-forms {
    width: 100%;
  }
}
