@import "config";

* {
    @include reset();
    letter-spacing: $letter-spacing;
}

body {
    font-family: $font-stack;
    line-height: $line-height;
    color: set-text-color($light-color);
    background-image: url("../img/my-photo.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

a {
    text-decoration: none;
    color: set-text-color($light-color);
}

p {
    font-size: 1.2rem;
    margin: 1rem;
}

li {
    list-style-type: none;
}

.header {
    @include center();
    @include set-background($dark-color);
    width: 100%;
    height: 5rem;

    .subtitle {
        font-size: 1.2rem;
        vertical-align: middle;
        color: darken($light-color, 25%);
        letter-spacing: $letter-spacing + 0.5;
    }
}

.subtitle-dot-left {
    vertical-align: middle;
    height: 8px;
    width: 8px;
    background-color: $light-color;
    border-radius: 50%;
    display: inline-block;
}

.subtitle-dot-mid {
    vertical-align: middle;
    height: 8px;
    width: 8px;
    background-color: darken($light-color, 15%);
    border-radius: 50%;
    display: inline-block;
}

.subtitle-dot-right {
    vertical-align: middle;
    height: 8px;
    width: 8px;
    background-color: darken($light-color, 35%);
    border-radius: 50%;
    display: inline-block;
}

.container {
    overflow: auto;
}

.name-title {
    font-size: 1.8rem;
}

.about-myself {
    font-size: 1.8rem;
}

.inner-hr {
    border: 1px solid lighten($dark-color, 40%);
}

.main-button {
    display: flex;
    color: lighten($dark-color, 20%);
    border-bottom: 0;
    padding: 1.5rem 3rem;
    vertical-align: middle;
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    position: relative;
    transition-property: color;
    transition-duration: 0.3s;

    &:before {
        content: "";
        position: absolute;
        z-index: -1;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: lighten($dark-color, 30%);
        transform: scaleX(0);
        transform-origin: 0 50%;
        transition-property: transform;
        transition-duration: 0.5s;
        transition-timing-function: ease-out;
       }

       &:hover,
       &:focus,
       &:active {
        color: $light-color;
       }

       &:hover:before,
       &:focus:before,
       &:active:before {
        transform: scaleX(1);
       }
}


.about-container,
.project-container,
.contact-container {
    display: none;
    margin: auto;
    width: 98.5%;
    padding: 1rem;
    background-color: rgba(245, 245, 245, 0.1);
}

.about-container {
    margin:1rem;
    margin-bottom: 2rem;

    .photo {
        margin-right: 1.5rem;
        border: 2px solid lighten($dark-color, 25%);
        border-radius: 5px;
        float: left;
    }
}

.project-container {
    margin: 1rem;
    margin-bottom: 2rem;
}

.contact-container {
    margin: 1rem;
    margin-bottom: 2rem;
}

.clearfix {
    content: "";
    clear: both;
}

.row {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;

    .card {
        padding: 1rem;

        .card-title {
            font-size: 1.2rem;
            padding-bottom: 0.5rem;
        }

        .card-footer {
            font-size: 1.1rem;
        }
    }
}

.active {
    letter-spacing: $letter-spacing + 1;
    transition: 1s;
    color: $light-color;
}

.inactive {
    letter-spacing: $letter-spacing;
    transition: 0.4s;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    padding: 1rem;

    .footer-link-container {
        @include center();
        text-shadow: 1px 1px 1px $dark-color;

        .fab {
            padding: 0.5rem 1rem;
            transition: transform 0.5s ease-in-out;
        }

       .fab:hover {
           transform: scale(1.1);
       }
    }

    & hr {
        width: 10%;
        margin: auto;
        border: 1px solid black;
    }

    & h5 {
        @include center();
        font-weight: bold;
        text-shadow: 1px 1px 1px $dark-color;
    }
}


